apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "group-sync-operator.fullname" . }}
  labels:
    {{- include "group-sync-operator.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "group-sync-operator.selectorLabels" . | nindent 6 }}
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "group-sync-operator.selectorLabels" . | nindent 8 }}
        control-plane: group-sync-operator
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      serviceAccountName: {{ include "group-sync-operator.serviceAccountName" . }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - args:
          - --secure-listen-address=0.0.0.0:8443
          - --upstream=http://127.0.0.1:8080/
          - --logtostderr=true
          - --tls-cert-file=/etc/certs/tls/tls.crt
          - --tls-private-key-file=/etc/certs/tls/tls.key
          image: "{{ template "group-sync-operator.image" .Values.kube_rbac_proxy.image }}"
          name: kube-rbac-proxy
          ports:
          - containerPort: 8443
            name: https
          volumeMounts:
          - mountPath: /etc/certs/tls
            name: tls-cert
          imagePullPolicy: {{ .Values.kube_rbac_proxy.image.pullPolicy }}
          {{- with .Values.env }}
          env:
          {{- toYaml . | nindent 10 }}
          {{- end }}          
          resources:
            {{- toYaml .Values.kube_rbac_proxy.resources | nindent 12 }}
        - command:
          - /manager
          args:
          - --health-probe-bind-address=:8081
          - --metrics-addr=127.0.0.1:8080
          - --leader-elect
          image: "{{ template "group-sync-operator.image" .Values.image }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          name: {{ .Chart.Name }}
          env:
            {{- if eq (include "group-sync-operator.checkWatchNamespace" .) ""  }}
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            {{- end }}
            {{- with .Values.env }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: tls-cert
          secret:
            defaultMode: 420
            secretName: group-sync-operator-certs
