apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: group-sync-operator
  annotations:
    service.alpha.openshift.io/serving-cert-secret-name: group-sync-operator-certs
  name: controller-manager-metrics-service
  namespace: system
spec:
  ports:
    - name: https
      port: 8443
      targetPort: https
  selector:
    control-plane: group-sync-operator
