apiVersion: v1
kind: Service
metadata:
  labels:
    operator: group-sync-operator
  annotations:
    service.alpha.openshift.io/serving-cert-secret-name: group-sync-operator-certs
  name: controller-manager-metrics
  namespace: system
spec:
  ports:
    - name: https
      port: 8443
      targetPort: https
  selector:
    operator: group-sync-operator
